<style>
    .bg-image {
      background-image: url('https://img.freepik.com/vector-gratis/fondo-hexagonal-degradado_23-2148944164.jpg?t=st=1730409705~exp=1730413305~hmac=7e4aeeff70b847aa6da13d6069abf3eda0b88907b75f0fd57f394e5f6ae2070d&w=996'); /* URL de la imagen de fondo */
      background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
      background-position: center; /* Centra la imagen */
      height: 75vh; /*altura de la ventana */
      color: black; /* Cambia el color del texto para que contraste con el fondo */
      display: flex; /* Usa flexbox para centrar el contenido */
      justify-content: center; /* Centra horizontalmente */
      padding: 20px; 
    }
  </style>
  
  <div class="container mt-5 bg-image">
      <div class="row justify">
        <div class="col-md-8 text-center">
          <h1>Bienvenido al ejercicio práctico .NET</h1>
        </div>
          <h4>Este es un ejercicio práctico de .NET, en el cual se ha desarrollado una aplicación web con Angular y .NET Core.</h4>
          <h4>Para comenzar, selecciona el módulo de <b>Personas</b> en el menú lateral.</h4>
      </div>
  </div>
  