<!-- CRUD -->
<p-toast></p-toast>
<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <!-- <p-toast></p-toast> -->
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Nueva Persona" icon="pi pi-plus" class="p-button-success mr-2"
                            (click)="abrirDialog()"></button>
                    </div>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="personas" [columns]="cols" responsiveLayout="scroll" [rows]="5" [paginator]="true"
                [rowsPerPageOptions]="[5,10,15]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} registros totales"
                [rowHover]="true" dataKey="personaId">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h3 class="m-0">Administrar Personas</h3>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="nombre">Nombre <p-sortIcon field="nombre"></p-sortIcon></th>
                        <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
                        <th pSortableColumn="edad">Edad <p-sortIcon field="edad"></p-sortIcon></th>
                        <th> Acciones </th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-persona>
                    <tr>
                        <td style="width:30%; min-width:10rem;">
                            <span class="p-column-title">Nombre</span>
                            {{persona.nombre}}
                        </td>
                        <td style="width:30%; min-width:8rem;">
                            <span class="p-column-title">Email</span>
                            {{persona.email}}
                        </td>
                        <td style="width:40%; min-width:10rem;">
                            <span class="p-column-title">Edad</span>
                            {{persona.edad}}
                        </td>
                        <td style="width:10%; min-width:10rem;">
                            <div class="d-flex justify-content-end">
                                <button pButton pRipple icon="pi pi-pencil"class="p-button-rounded p-button-success mr-2"
                                    (click)="editPersona(persona)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                    (click)="deletePersona(persona)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>


<!-- Modal Formulario para añadir nueva persona-->
<p-dialog [(visible)]="personasDialog" [style]="{width: '450px'}" header="{{titulo}}" [modal]="true" class="p-fluid">
    <ng-template pTemplate="content">
        <form class="p-fluid p-formgrid grid" [formGroup]="personaForm" (ngSubmit)="savePersona()">
            <div class="field col-12 md:col-12">
                <label htmlFor="nombre">Nombre</label>
                <input formControlName="nombre" pInputText id="nombre" type="text" />
                <small *ngIf="personaForm.get('nombre').hasError('maxlength')" class="p-error">El nombre no puede
                    exceder 50 caracteres</small>
            </div>
            <div class="field col-12 md:col-6">
                <label htmlFor="email">Email</label>
                <input formControlName="email" pInputText id="email" type="email" />
                <small *ngIf="personaForm.get('email').hasError('email')" class="p-error">Email no tiene un formato
                    correcto</small>
            </div>
            <div class="field col-12 md:col-6">
                <label htmlFor="edad">Edad</label>
                <input formControlName="edad" pInputText id="edad" type="number" />
                <small *ngIf="personaForm.get('edad').hasError('min') || personaForm.get('edad').hasError('max')"
                    class="p-error">Edad debe estar entre 10 y 100</small>
            </div>
        </form>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Guardar" icon="pi pi-check" type="submit" [disabled]="personaForm.invalid" class="p-button-text" (click)="savePersona()"></button>
    </ng-template>
</p-dialog>



<!-- Modal eliminar persona-->
<p-dialog [(visible)]="eliminarPersonaDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="this.persona">Estas seguro que quieres borrar <b>{{this.persona.nombre}}</b>?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="eliminarPersonaDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
    </ng-template>
</p-dialog>